---
interface Props {
  id: number;
  name: string;
}

const { id, name } = Astro.props;
---

<div class={`section-${id}`} data-swapy-slot="foo">
  <div class={`content-${name}`} data-swapy-item={name}>
    <slot />
  </div>
</div>
